@import '../../assets/scss/main.scss';

.lk {
  display: flex;
  flex-direction: column;
  width: 100%;

  &First {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 64px;
    width: 100%;
    margin-bottom: 64px;

    &__user {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      min-width: 410px;
      width: 410px;
      padding: 15px 15px 19px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.2);

      &Row {
        display: flex;
        flex-direction: row;
        column-gap: 24px;

        &__avatar {
          position: relative;
          width: 130px;
          height: 130px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }

          &Edit {
            position: absolute;
            top: 6px;
            right: 9px;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgba(52, 133, 109, 1);
            border-radius: 50%;
            width: 28px;
            height: 28px;
            cursor: pointer;

            svg {
              path {
                fill: #fff;
              }
            }
          }
        }

        &__data {
          display: flex;
          flex-direction: column;

          &Name {
            color: rgba(0, 0, 0, 0.8);
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 16px;
          }

          &Item {
            color: rgba(0, 0, 0, 0.8);
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 8px;
          }
        }
      }

      &Acc_edit {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;
        cursor: pointer;

        &Text {
          color: #285b4c;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }

    &__stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 64px;
      width: 100%;
      min-height: 100%;

      &Item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.2);

        &__title {
          color: rgba(0, 0, 0, 0.8);
          font-size: 18px;
          font-weight: 700;
        }

        &__count {
          color: #285b4c;
          font-size: 56px;
          font-weight: 400;
        }

        &__btn {
          border-radius: 4px;
          background-color: #34856d;
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          padding: 8px 22px;

          color: #fff;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }

  &Second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 64px;
    width: 100%;

    &__notifications {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      min-width: 410px;
      width: 410px;
      min-height: 150px;
      height: fit-content;
      max-height: 336px;
      padding: 15px 15px 40px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.2);

      &Title {
        color: rgba(0, 0, 0, 0.8);
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }

      &List {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        &__item {
          display: flex;
          flex-direction: column;
          row-gap: 2px;
          padding: 8px 0 8px 15px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          transition: all 0.1s ease-in-out;

          &:hover {
            background-color: #f6f6f6;
          }

          &Top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__text {
              color: rgba(0, 0, 0, 0.8);
              font-size: 16px;
              font-weight: 400;
            }

            &__circle {
              width: 10px;
              height: 10px;
              background-color: rgba(40, 91, 76, 1);
              border-radius: 50%;
              margin: 10px;
            }
          }

          &Date {
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      width: 100%;
    }
  }
}
